body {
  line-height: 1.8;
}

.post-header {
  margin-bottom: 40px !important;
}

.post-title {
  margin-bottom: 10px !important;
}

p, table {
  margin-bottom: 0.8em !important;
}

ul, ol {
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

hr {
  margin: 1.5em 0;
}

details {
  padding: 0.8em 1em !important;
}

details[open] summary {
  margin-bottom: 0.8em;
}

h2 {
  font-size: 1.5em;
}

figcaption {
  line-height: 1.5 !important;
}
